@import mixins
@import colors

.page-loader
    position: fixed
    width: 100%
    height: 100%
    background: $black
    top: 0
    left: 0
    z-index: 1000

    .logo
        display: block
        width: 50px
        height: 50px
        text-indent: -9999px
        position: relative
        margin: 0 auto
        -webkit-animation: flip 1s infinite
        -moz-animation: flip 1s infinite
        -o-animation: flip 1s infinite    
        animation: flip 1s infinite
        background: url('../img/logo-sprite.png') 0 0 no-repeat
        text-indent: -9999px
        background-size: 100% auto              
        -webkit-transition: 0.8s
        -moz-transition: 0.8s
        -ms-transition: 0.8s
        -o-transition: 0.8s
        transition: 0.8s        
        


// Placeholders
input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"],
textarea 
	&::-webkit-input-placeholder 
	    color: inherit
	
	&:-moz-placeholder 
	    color: inherit
	
	&::-moz-placeholder 
	    color: inherit
	
	&:-ms-input-placeholder 
	    color: inherit
	
	&:focus 
		&::-webkit-input-placeholder 
		    color: transparent
		
		&:-moz-placeholder 
		    color: transparent;
		
		&::-moz-placeholder 
		    color: transparent;
		
		&:-ms-input-placeholder 
		    color: transparent;	

// Image
img 
	max-width: 100%;
	height: auto;


// Other
a 
	color: inherit;

	&.fullsize-link 
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

.story 
	a
		opacity: 1;
		@include transition(all)
		@include transition-duration(300ms)
		&:hover 
			opacity: 0.7;
	
// Clear function
@mixin clear-after 
	&:after 
		display: block;
		clear: both;
		content: "";
	



// Vertical align
.in 
	position: relative;
	width: 100%;
	height: 100%;
	display: table;

	& > .in 
		display: table-cell;
		vertical-align: middle;
	


// Two sides Layout

.sides 
	@include clear-after

.leftside,
.rightside 
	position: relative;
	width: 50%;
	height: auto;
	float: left;

.rightside 
	float: right;


.in,
.t-in  
	height:100% 	
 

.in 
	display:-webkit-box
	display:-webkit-flex
	display:-ms-flexbox
	display:flex
	-webkit-box-align:center
	-webkit-align-items:center
	-ms-flex-align:center
	align-items:center
	-webkit-box-pack:center
	-webkit-justify-content:center
	-ms-flex-pack:center
	justify-content:center 

.in .in 
	-webkit-box-flex:1
	-webkit-flex:1
	-ms-flex:1
	flex:1

.t-in 
	width:100%
	display:table 

.t-in .t-in 
	display:table-cell
	vertical-align:middle 




// Keyframes
@mixin animation($animate) 
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max 
        $animations: #{$animations + nth($animate, $i);

        @if $i < $max 
            $animations: #{$animations + ", "};
        
    
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;


@mixin keyframes($animationName) 
    @-webkit-keyframes #{$animationName} 
        @content;
    
    @-moz-keyframes #{$animationName} 
        @content;
    
    @-o-keyframes #{$animationName} 
        @content;
    
    @keyframes #{$animationName} 
        @content;
    
.fullwidth-img
    width: 100%
    height: auto
    display: block
    margin: 4rem auto
    clear: both

    img
        max-width: 100%
        width: 100%
        height: auto


.basic-btn
    //background: $white
    color: $black
    padding: 1.7rem 6rem
    letter-spacing: 1px
    @include inline-block
    border: 1px solid $black
    line-height: 1
    text-transform: uppercase
    position: relative
    z-index: 2
    font:
        family: 'hindsemibold'
        size: 1.2rem

    -webkit-transition: border-color 0.4s, color 0.4s
    transition: border-color 0.4s, color 0.4s
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)    

    &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: $black
        z-index: -1
        opacity: 0
        -webkit-transform: scale3d(0.7, 1, 1)
        transform: scale3d(0.7, 1, 1)
        -webkit-transition: -webkit-transform 0.4s, opacity 0.4s
        transition: transform 0.4s, opacity 0.4s
        -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)
        -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)        

    &:hover
        color: $white
        border-color: $black

        &:before
            opacity: 1
            -webkit-transform: translate3d(0, 0, 0)
            transform: translate3d(0, 0, 0)
    
    &.inverted      
        color: $white
        border: 1px solid $white    

        &:before
            background: $white          

        &:hover
            color: $black
            border-color: $white


@-webkit-keyframes flip
  0%
    -webkit-transform: scale(0.8, 0.8)
    opacity: 0.3
  50%
    -webkit-transform: scale(1, 1)
    opacity: 1.0  
  100%
    -webkit-transform: scale(0.8, 0.8)
    opacity: 0.3
  

@-moz-keyframes flip
  0%
    transform: scale(0.8, 0.8)
    opacity: 0.3  
  50%
    transform: scale(1, 1)
    opacity: 1.0  
  100%
    transform: scale(0.8, 0.8)
    opacity: 0.3
  
@-ms-keyframes flip
  0%
    -ms-transform: scale(0.8, 0.8)
    opacity: 0.3
  50%
    -ms-transform: scale(1, 1)
    opacity: 1.0
  100%
    -ms-transform: scale(0.8, 0.8)
    opacity: 0.3
  

@-o-keyframes flip
  0%
    transform: scale(0.8, 0.8)
    opacity: 0.3
  50%
    transform: scale(1, 1)
    opacity: 1.0  
  100%
    transform: scale(0.8, 0.8)
    opacity: 0.3
  

@keyframes flip
  0%
    transform: scale(0.8, 0.8)
    opacity: 0.3
  50%
    transform: scale(1, 1)
    opacity: 1.0
  100%
    transform: scale(0.8, 0.8)
    opacity: 0.3
  

