/*--------------------------------------
 *   #FOOTER
 *------------------------------------*/

.socials-bar
    padding: 4rem 0
    margin: 0 auto

    ul
        overflow: hidden
        li 
            display: block
            width: 33.33%
            margin: 0
            float: left 

            &.social-skp
                text-align: center

            &.social-inst
                text-align: right

    a

.footer-main
    .copy
       text-align: center        
        @include transition-duration(0.3s) 

        &:hover
            @include opacity(0.6)
            

.flo-shcode-instgm-container
    

