/*--------------------------------------
 *   #HEADER-MAIN
 *------------------------------------*/

.header-main    

    .logo
        width: 50px
        height: 50px
        overflow: hidden
        display: block
        float: left

        .logo-li

            &:hover
                span
                    @include rotation(180deg)

    .nav-main 
        ul
            overflow: hidden

            li
                float: left
                font: 
                    size: 1.6rem              
                text-transform: capitalize
                margin: 0 0 0 3rem

            a
            


