// BORDERS & ROUNDED
@mixin bordered($top-color: #EEE, $right-color: #EEE, $bottom-color: #EEE, $left-color: #EEE)
  border-top: solid 1px $top-color;
  border-left: solid 1px $left-color;
  border-right: solid 1px $right-color;
  border-bottom: solid 1px $bottom-color;


@mixin rounded($radius: 2px)
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 

@mixin rounded-corners($tl: 3px, $tr: 3px, $br: 3px, $bl: 3px)
  -moz-border-radius-topleft: $tl;
  -moz-border-radius-topright: $tr;
  -moz-border-radius-bottomright: $br;
  -moz-border-radius-bottomleft: $bl;
  -webkit-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;

@mixin border-radius($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0)
  -webkit-border-top-right-radius: $topright;
  -webkit-border-bottom-right-radius: $bottomright;
  -webkit-border-bottom-left-radius: $bottomleft;
  -webkit-border-top-left-radius: $topleft;
  -moz-border-radius-topright: $topright;
  -moz-border-radius-bottomright: $bottomright;
  -moz-border-radius-bottomleft: $bottomleft;
  -moz-border-radius-topleft: $topleft;
  border-top-right-radius: $topright;
  border-bottom-right-radius: $bottomright;
  border-bottom-left-radius: $bottomleft;
  border-top-left-radius: $topleft;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 


// OPACITY & TRANSITIONS
@mixin opacity($opacity: 0.5) 
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  -webkit-opacity: $opacity;
  opacity: $opacity;

@mixin transition-duration($duration: 0.2s) 
  -moz-transition-duration: $duration;
  -webkit-transition-duration: $duration;
  transition-duration: $duration;

@mixin transition-property($property: all)
  -webkit-transition-property: $property
  -moz-transition-property: $property
  -o-transition-property: $property
  transition-property: $property

@mixin transition-delay($duration: 0.4s)
  -webkit-transition-delay: $duration
  -moz-transition-delay: $duration
  -o-transition-delay: $duration
  transition-delay: $duration 

@mixin rotation($deg:5deg)
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  transform: rotate($deg);

@mixin transform-origin($x-axis: top, $y-axis: center)
  -webkit-transform-origin: $x-axis $y-axis
  -moz-transform-origin: $x-axis $y-axis;
  -o-transform-origin: $x-axis $y-axis
  -ms-transform-origin: $x-axis $y-axis
  transform-origin: $x-axis $y-axis

@mixin scale($ratio:1.5)
  -webkit-transform:scale($ratio);
  -moz-transform:scale($ratio);
  transform:scale($ratio);

@mixin transform($transform)
  -webkit-transform: $transform;
  -moz-transform: $transform;
  transform: $transform;  

@mixin transition($transition) 
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;

@mixin translate($x:0, $y:0) 
  -moz-transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate($x, $y);


// SHADOWS
@mixin drop-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1) 
  -webkit-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
  -moz-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
  box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);

@mixin inner-shadow($horizontal:0, $vertical:1px, $blur:2px, $alpha: 0.4) 
  -webkit-box-shadow: inset $horizontal $vertical $blur rgba(0, 0, 0, $alpha);
  -moz-box-shadow: inset $horizontal $vertical $blur rgba(0, 0, 0, $alpha);
  box-shadow: inset $horizontal $vertical $blur rgba(0, 0, 0, $alpha);

@mixin box-shadow($arguments) 
  -webkit-box-shadow: $arguments;
  -moz-box-shadow: $arguments;
  box-shadow: $arguments;

@mixin shadow-gray-alpha() 
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .3);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .3);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .3); 

@mixin shadow-black-alpha() 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;

@mixin text-shadow($color: #fff) 
  text-shadow: 1px 1px 0px $color;

@mixin shadowed($shadow) 
  text-shadow: $shadow;

@mixin no-text-shadow() 
  text-shadow: none;


// COLUMNS
@mixin columns($colwidth: 250px, $colcount: 0, $colgap: 50px, $columnRuleColor: transparent, $columnRuleStyle: solid, $columnRuleWidth: 1px) 
  -moz-column-width: $colwidth;
  -moz-column-count: $colcount;
  -moz-column-gap: $colgap;
  -moz-column-rule-color: $columnRuleColor;
  -moz-column-rule-style: $columnRuleStyle;
  -moz-column-rule-width: $columnRuleWidth;
  -webkit-column-width: $colwidth;
  -webkit-column-count: $colcount;
  -webkit-column-gap: $colgap;
  -webkit-column-rule-color: $columnRuleColor;
  -webkit-column-rule-style: $columnRuleStyle;
  -webkit-column-rule-width: $columnRuleWidth;
  column-width: $colwidth;
  column-count: $colcount;
  column-gap: $colgap;
  column-rule-color: $columnRuleColor;
  column-rule-style: $columnRuleStyle;
  column-rule-width: $columnRuleWidth;


@mixin nobreak 
  -webkit-column-break-inside:avoid;
  -moz-column-break-inside:avoid;
  -o-column-break-inside:avoid;
  -ms-column-break-inside:avoid;
  column-break-inside:avoid;
  display: table;     


// FONTS
@mixin font-smoothing
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;


// SPACING
@mixin no-spacing
  letter-spacing: -.31em;
  word-spacing: -.43em;

@mixin spacing
  letter-spacing:normal;
  word-spacing:normal;



// OTHER
@mixin inline-block
  display: inline-block;
  *display: inline;
  *zoom: 1;


@mixin clear
  &:after 
    display: block;
    clear: both;
    content: "";
  


@mixin box-sizing($sizing: border-box) 
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  -ms-box-sizing: $sizing;
  -o-box-sizing: $sizing;
  box-sizing: $sizing;



@mixin hide-text 
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;



@mixin bg-cover
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;



@mixin bg-size($size) 
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;




@mixin desaturate 
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */


@mixin saturate 
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%)


@mixin keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name} 
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

@mixin animation($animation) 
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  animation: $animation;

@mixin animation-delay($delay) 
  animation-delay: $delay
  -moz-animation-delay: $delay
  -webkit-animation-delay: $delay
