// Reset styles
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
  display: block

audio, canvas, video
  display: inline-block
  // *display: inline
  // *zoom: 1

html
  overflow-y: scroll
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, li, ol, a, em, img, strong, fieldset, form, label, article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-weight: inherit
  font-style: inherit
  font-size: 100%
  font-family: inherit
  vertical-align: baseline
  list-style: none

\:focus
  outline: 0

img
  vertical-align: middle
  outline: 0

input, textarea
  -webkit-appearance: none

button::-moz-focus-inner
  border: none

input
  &[type="reset"]::-moz-focus-inner, &[type="button"]::-moz-focus-inner, &[type="submit"]::-moz-focus-inner, &[type="file"] > input[type="button"]::-moz-focus-inner
    border: none

html, body, textarea, input
  -webkit-text-size-adjust: none

body
  text-align: left

// Form Elements

button
  cursor: pointer
  -webkit-appearance: button
  font-size: 13px
  font-weight: 700
  background: transparent
  text-transform: uppercase
  border: 0

input
  &[type="button"], &[type="reset"], &[type="submit"]
    cursor: pointer
    -webkit-appearance: button
    font-size: 13px
    font-weight: 700
    background: transparent
    text-transform: uppercase
    border: 0
  &[type=text], &[type=email], &[type=url], &[type=search], &[type=password]
    border: 1px solid white
    height: 16px
    font-size: 12px
    padding: 5px

textarea
  border: 1px solid white
  height: 16px
  font-size: 12px
  padding: 5px
  resize: vertical

.fl
  float: left !important

.fr
  float: right !important

// .l
//   text-align: left

.c
  text-align: center

.j
  text-align: justify

// .r
//   text-align: right

// Clearfix
.cf
  &:before
    content: ""
    display: table
  &:after
    content: ""
    display: table
    clear: both
  zoom: 1

.clear
  clear: both

// Links
a
  text-decoration: none
  cursor: pointer

// Headers
h1, h2, h3, h4, h5, h6
  margin-bottom: 1em
  text-transform: uppercase

h1
  font-size: 28px

h2
  font-size: 22px

h3
  font-size: 18px

h4
  font-size: 14px

h5
  font-size: 12px

h6
  font-size: 10px

// Text elements

p
  margin: 0 0 1em 0
  text-align: left
  line-height: 1.5

strong
  font-weight: bold

em
  font-style: italic

img
  border: 0

.small
  font-size: 10px

hr
  display: block
  height: 0px
  line-height: 0px
  border: 0
  border-top: 1px solid
  border-bottom: 1px solid
  margin: 16px 0
  float: none
  clear: both
  padding: 0

// Wordpress Typo
.story
  line-height: 1.5
  ul
    list-style: disc
    li
      list-style: disc
  ol
    list-style: decimal
    li
      list-style: decimal
  ul, ol
    margin: 0 0 1em 1.5em
    line-height: 1.5
  ul ul, ol ul, ul ol
    margin-bottom: 0
  ol ol
    margin-bottom: 0
    list-style: upper-alpha
    ol
      list-style: lower-roman
      ol
        list-style: lower-alpha
  h1, h2, h3, h4, h5, h6
    text-transform: none
    margin-bottom: .5em
  a
    &:link, &:visited, &:hover, &:active
      text-decoration: underline
  table
    width: auto
    border-collapse: collapse
    margin-bottom: 18px
    td
      padding: 6px 10px
      text-align: center
      border: 1px solid #ccc
    th
      padding: 6px 10px
      text-align: center
      border: 1px solid #ccc
      font-weight: bold
  pre
    border: 1px solid #ccc
    background: #eee
    padding: 1em 2em
    margin-bottom: 1em
  blockquote
    // font-style: italic
    // margin: 1em 3em
    p
      &:before, 
      &:after
        content: '"'
        font-style: italic

      &:before 
        margin: 0 5px 0 0

      &:after
        margin: 0 0 0 2px     
  
  img
    &.size-auto, &.size-full, &.size-large, &.size-medium
      width: auto
      max-width: 100%    
      height: auto
      margin: 0 auto
      display: block
      margin-bottom: 0.3rem
    
  .attachment img
    max-width: 100%   
    height: auto   

  .alignleft, img.alignleft
    display: inline
    float: left
    margin-right: 2em

  .alignright, img.alignright
    display: inline
    float: right
    margin-left: 2em

  .aligncenter
    clear: both
    display: block
    margin-left: auto
    margin-right: auto

  img
    &.aligncenter
      clear: both
      display: block
      margin-left: auto
      margin-right: auto

    &.alignleft, &.alignright, &.aligncenter
      margin-bottom: 1em

  .wp-caption
    line-height: 1.5
    margin-bottom: 1em
    text-align: center

    p.wp-caption-text
      color: #888
      font-size: 11px
      margin: 0
      padding: 5px

  .wp-smiley
    margin: 0

// FlexSlider Necessary Styles
.flexslider
  position: relative
  zoom: 1
  ul, ol, ul li, ol li
    margin: 0
    padding: 0
    list-style: none
  .slides
    zoom: 1
    > li
      position: relative
      display: none
      -webkit-backface-visibility: hidden
      text-align: center
    img
      max-width: 100%
      display: block
      margin: 0 auto
      height: auto
      width: auto
  .descr
    position: absolute
    bottom: 0
    left: 0
    right: 0
    padding: 10px
    background: rgba(100, 100, 100, 0.5)
    color: #fff
    text-align: left
    h3
      text-align: left
    .text p:last-child
      margin-bottom: 0

.flex-container
  zoom: 1
  position: relative

// Open first post

.full
  display: none

#post .full
  display: block

// Clearfix for the .slides element

.slides:after
  content: "."
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0

html[xmlns] .slides
  display: block

* html .slides
  height: 1%
