/*------------------------------------
 *    #WRAPPERS
 *----------------------------------*/

.wrapper
    width: 96%
    max-width: 960px
    overflow: hidden
    margin: 0 auto

body 
    padding: 0
