<section class="comments">
	{% if post.post_password_required %}
		<p class="comments-protected"><?php _e('This post is password protected. Enter the password to view comments.', 'flotheme'); ?></p>
	{% endif %}

	<h3><span class="comment-number">{{ post.comment_count }}</span> <span class="comment-number-text">{{ function( 'comments_number', 'comments', 'comment', 'comments') }}</span></h3>	

	{% if (function('have_comments')) %}
		<ol class="commentlist">
			{% for comment in post.get_comments() %}
				{% include "partials/comment.twig" with {comment:comment} %}
			{% endfor %}
		</ol>
		{% if (not function('comments_open', post.ID) and not function('is_page') and function('post_type_supports', function('get_post_type'), 'comments') ) %}
			<p class="info-tip">Comments are closed.</p>
		{% endif %}
	{% endif %}
</section>

{% if (function('comments_open', post.ID)) %}
	<section class="respond cf">
		{% if (function('get_option', 'comment_registration') and not function('is_user_logged_in')) %}
			<p class="info-tip">You must be <a href="{{ function('wp_login_url', function('get_permalink')) }}">logged in</a> to post a comment.</p>
		{% else %}
			{{ function('flo_get_respond_form', post.ID) }}
		{% endif %}
	</section>
{% endif %}