<header class="preview">
	<div class="title cf">
		<h2><a href="{{post.link}}" title="{{post.post_title}}" rel="bookmark">{{post.title}}</a></h2>
		<div class="meta ta">
			<time pubdate="{{ post.post_date | date('c') }}">{{ post.post_date | date('F j / Y / ') }}</time>			
			<span class="categories">Category: {{ function('the_category', ', ') }}</span>
		</div>
	</div>
	{% if post.thumbnail is not empty %}
		<figure>		
			<a href="{{post.guid}}">
				<img src="{{ post.thumbnail.src('full') }}" class="feat-img" alt="Image for {{post.title}}" />		
			</a>
		</figure>
	{% endif %}		
</header>