<div class="story cf">
	{{ post.post_content_filtered | wpautop }}

	<ul class="share-options">
		{% if flo_share_fb is not empty %}	        
			<li><a href="{{ flo_share_fb }}" class="fb" target="_blank" rel="external">Facebook</a></li>        
		{% endif %}	
		{% if flo_share_twi is not empty %}
	        <li><a href="{{ flo_share_twi }}" class="twi" target="_blank" rel="external">Twitter</a></li>        
		{% endif %}	        			
        <li><a href="{{ flo_share_gplus }}" class="pin">Google+</a></li>
	</ul>	
</div>