<form action="{{ function('get_option', 'siteurl') }}/wp-comments-post.php" method="post" class="comment-form">
	
	{% if (function('is_user_logged_in')) %}
		<p class="info-tip">Logged in as {{ user.user_login }} <a href="{{ function('wp_logout_url', function('get_permalink')) }}" title="Log out of this account">Log out</a></p>
	{% endif %}

	{% if (not function('is_user_logged_in')) %}
		<div class="input-container">
			<input type="text" placeholder="Name" name="author" id="author" value="{{ comment_author|e('html') }}" size="22" tabindex="1" required="required">
		</div>
		<div class="input-container">
			<input type="email" placeholder="Email" name="email" id="email" value="{{ comment_author_email|e('html') }}" size="22" tabindex="2" required="required" email="true">
		</div>
		<div class="input-container">
			<input type="url" placeholder="Website" name="url" id="url" value="{{ comment_author_url|e('html') }}" size="22" tabindex="3">
		</div>
	{% endif %}
	<div class="textarea-container">
		<textarea name="comment" placeholder="Comment" id="comment" class="input-xlarge" tabindex="4" rows="5" cols="40" required="required"></textarea>
	</div>
	<div class="button-container">
		<input name="submit" class="submit" type="submit" tabindex="5" value="Submit Comment" />
	</div>

	<div class="error-messages"></div>

	{{ function('comment_id_fields', post.ID) }}
	{% do action('comment_form', post.ID) %}
</form>
