<form role="search" method="get" id="searchform" class="searchform " action="{{ site.url }}" >
    <fieldset>
    	<label for="s-input">Search...</label>
        <input type="text" value="{{ search_query }}" name="s" id="s-input" class="s-input" placeholder="Type here what you are looking for..." />        
    </fieldset>
</form>