<div class="wrapper socials-bar">
	<ul>
		{% if options.social_facebook is not empty %}	
			<li class="social-fcb"><a href="{{ options.social_facebook }}" rel="external">Facebook</a></li>
		{% endif %}		

		{% if options.social_skype is not empty %}	
			<li class="social-skp"><a href="skype:{{ options.social_skype }}?call"  rel="external">Skype: {{ options.social_skype }}</a></li>
		{% endif %}		

		{% if options.social_instagram is not empty %}	
			<li class="social-inst"><a href="{{ options.social_instagram }}" rel="external">Instagram: {{ options.social_instagram }}</a></li>
		{% endif %}	
	</ul>
</div>