/*-------------------------------------------------------------------------------------------
  Flotheme Admin Styles
  -------------------------------------------------------------------------------------------*/

.column-featured-image,
.column-first-image{
	width:5%;
}


.iti-image-widget-field {
	padding-bottom:15px; 
}
.iti-image-widget-image img {
	display:block; 
	margin:10px 0 15px; 
	max-width:100%; 
	height:auto !important;
}
