{% spaceless %}
{% block html_head_container %}
{% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
    <body class="{{body_class}}" data-template="base.twig">
        <header id="header-main" class="header-main">
            {% block header %}
            <div class="wrapper">
                <h1 class="logo" role="banner">
                    <a class="logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
                </h1>
                
                <nav id="nav-main" class="nav-main" role="navigation">
                    <ul class="nav">
                    {% for item in menu.get_items %}
                        <li class="nav-item {{item.classes | join(' ')}}">
                            <a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
                            {% if item.get_children %}
                                <ul class="nav nav-drop">
                                {% for child in item.get_children %}
                                    <li class="nav-drop-item">
                                        <a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
                                    </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </nav><!-- #nav -->
            </div>
            {% endblock %}
        </header>


        <section id="content" role="main" class="content-wrapper">
            {% block content %}
                Sorry, no content
            {% endblock %}
        </section>

        {% block footer %}
            {% include 'footer.twig' %}        
            {{ function('wp_footer') }}
        {% endblock %}
    </body>
</html>
{% endspaceless %}