{% extends "base.twig" %}

{% block content %}

	<div class="wrapper blog-list">

		{% if blog_title is not empty %}
			<h1 class="blog-title">{{ blog_title }}</h1>
		{% endif %}

		{% if posts is not empty %}
			{% for post in posts %}
				{% include 'partials/posthead.twig' %}
				{% include 'partials/postpreview.twig' %}
				{% include 'partials/postfooter.twig' %}
			{% endfor %}
		{% else %}
			{% include 'partials/notfound.twig' %}
		{% endif %}
	</div>

	<div class="page-numbers-wrapper">
		{{ function('flo_page_links') }}
	</div>
	
{% endblock %}
