{% extends "base.twig" %}

{% block content %}
	<div class="single-blog-post-container">
		<div class="single-blog-post current" data-type="post" data-nextid="{{ next_post.ID }}" data-nexturl="{{ site.url }}/{{ next_post.post_name }}/" data-nexttitle="{{ next_post.post_title }}">
			{% for post in posts %}
				{% include 'partials/postbody.twig' %}
			{% else %}
				{% include 'partials/notfound.twig' %}
			{% endfor %}
		</div>	

	</div>
{% endblock %}