{% extends "base.twig" %}

{% block content %}
	
	<section id="page-contact" class="post-type-page page-contact">

		<h1>{{ post.title }}</h1>
		
		<div class="story">
			{{ post.content }}
		</div>

	</section>
{% endblock %}