{% extends "base.twig" %}

{% block content %}

	<section id="homepage" class="post-type-page homepage">
		
		<h1>{{ post.post_title }}</h1>
		
		<div class="story">
			{{ post.content }}
		</div>

	</section>

{% endblock %}