{% extends "base.twig" %}

{% block content %}
	<section class="post-type-page page-404" id="page-404">
		
		<h1>Sorry this page is missing</h1>
		<div class="story">
			Unfortunately the content you’re looking for isn’t here. There may be a misspelling in your web address or you may have clicked a link for content that no longer exists. 
		</div>

	</section>
{% endblock %}
